<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="  
        http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd
       	http://www.springframework.org/schema/aop  
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 自动扫描注解的bean -->
	<context:component-scan base-package="com.helloweb.service" />

	<!-- 校验 -->
	<context:component-scan base-package="com.helloweb.validate" />
	<bean id="CustomValidatorRegistry" class="com.helloweb.validate.CustomValidatorRegistry" init-method="init">
		<property name="validatorList">
			<list>
				<bean class="com.helloweb.validate.ValidateDtoValidator"></bean>
			</list>
		</property>
	</bean>

	<import resource="spring-mybatis.xml" />
	<import resource="spring-aop.xml" />

</beans>  