<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="  
        http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/mvc  
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 注册HandlerMapper、HandlerAdapter两个映射类 -->
	<!-- 调整url大小写的问题 -->
	<mvc:annotation-driven>
		<mvc:path-matching path-matcher="pathMatcher" />
	</mvc:annotation-driven>
	<bean id="pathMatcher" class="org.springframework.util.AntPathMatcher">
		<property name="caseSensitive" value="false" />
	</bean>

	<!-- 访问静态资源 -->
	<mvc:default-servlet-handler />

	<context:component-scan base-package="com.helloweb.controller" />

	<!-- 视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- 拦截器 -->
	<mvc:interceptors>
		<bean class="com.helloweb.interceptors.LogInterceptor"></bean>
		<mvc:interceptor>
			<mvc:mapping path="/interceptor" />
			<bean class="com.helloweb.interceptors.TestInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

</beans>